<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60af79">  <td>19/02/19 20:11:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WriteInExcel.CreateExcel()[pri:1, instance:WriteInExcel@359f7cdf]">CreateExcel</td> 
  <td>main@953742666</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/02/19 20:11:22</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WriteInExcel.ExcelClose()[pri:2, instance:WriteInExcel@359f7cdf]">ExcelClose</td> 
  <td>main@953742666</td>   <td></td> </tr>
</table>
